<h2>Sign up</h2>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>

  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">sign up</button>
  </div>
    <a href="/login">log in</a>
</form>

<script src="/javascript/signup.js"></script>