{{!-- Display post --}}

<ol class="post-list">
    <li>
        {{> post-info post }}
    </li>
</ol>

{{!-- Comment box --}}
{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</form>
{{/if}}

{{!-- Loop through and display all comments --}}

{{> comments post.comments}}


{{!-- Only render comment javascript file for commenting if user is logged in --}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}